*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f8f8f8;
}
section.chat_section{
    width: 800px;
    max-width: 90%;
    background: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),0 4px 6px -2px rgba(0, 0, 0, 0.5);
}
.brand{
    padding: 20px;
    background: #f1f1f1;
    display: flex;
    align-items: center;
}
.brand h1{
    text-transform: uppercase;
    font-size: 20px;
    color: #444;
    margin-left: 10px;
}
.message_area{
    height: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
}
textarea{
    width: 100%;
    border: none;
    padding: 20px;
    font-size: 16px;
    outline: none;
    background: #fbfbfb;
}
.massage{
    padding: 20px;
    border-radius: 40px;
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
}
.incoming{
    background: #2c22f2;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    max-width: 300px;
    margin-bottom: 4px;
}
.incoming p{
    padding: 2px 0;
}
.incoming h1{
    text-align: end;
    padding: 2px 0;
}
.outgoing{
    background: #e9eafd;
    border-radius: 10px;
    color: #787986;
    margin-left: auto;
    width: 250px;
    max-width: 800px;
    text-align: center;
    margin-bottom: 4px;
}
.outgoing p{
    padding: 2px 0;
}
.massage h4{
    text-align: end;
    margin-bottom: 10px;
    position: absolute;
    top: -20px;
    left: 0;
    color: #333;
    font-size: 14px;
}
.massage p{
    margin-bottom: 10px;
    position: absolute;
    top: -20px;
    left: 0;
    color: #333;
    font-size: 14px;
}